# mac
.DS_Store

# ide
.vscode/
.ipynb_checkpoints/

# python
__pycache__/
.history

# terraform
**.terraform/
**.terraform.lock.*
**.tfstate
**.tfstate.*

# repo data
data/
credentials/
.env
*.xlsx

# dbt
.user.yml
target/
logs/